/*@charset "utf-8";*/
/* CSS Document */

*{
  margin: 0px;
  padding: 0px;
  cursor: url(img/cursor.png), auto;
}

/* FONTS */

h1 {
	color: #1F4AC9;
  font-family:'Alexandria';
	font-size: 125pt; 
  font-weight: bold;
  line-height: 0.8;
  animation: slide-right 600ms linear both
}

h2 {
  display: inline-block; 
  font-family: 'Alexandria';
  font-weight: 400;
  color: #D05F15;
  font-size: 15pt;
  border-bottom: 2px solid #D05F15;
  margin-bottom: 10px;
  animation: slide-right 350ms linear both
}

h3 {
  display: inline-block; 
  font-family: 'Alexandria';
  font-weight: bold;
  color: #1F4AC9;
  font-size: 30pt;
  border-bottom: 4px solid #1F4AC9;
}

.habilidades h3{
  color: #D05F15;
  border-bottom: 4px solid #D05F15;
}

.contacto h3{
  color: #D05F15;
  border-bottom: 4px solid #D05F15;
}

.sobre-mi h3{
  margin-bottom: 20px;
}

span {
  font-family: 'Alexandria';
  color: #D05F15;
  font-weight: bold;
  font-size: 20pt;
}

p{
  font-family: 'Helvetica';
  color: black;
  font-weight: 400;
  font-size: 15pt;
}

.habilidades p{
  color: #FCD1CD;
}

.contacto p{
  color: #FCD1CD;
}

.contacto a{
  font-family: 'Helvetica';
  color: #FCD1CD;
  font-weight: 400;
  font-size: 15pt;
  text-decoration: none;
}

footer p{
  color: #FCD1CD;
  font-size: 10pt;
  font-style: italic;
  font-weight: 600;
}

/* BODY */

body{
  background: #FCD1CD;
}

/* HEADER */

.main-container {
  max-width: 1920px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.separacion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}

.logo {
width: 50px;
}

/* NAV */

nav {
  background-color: #FCD1CD;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
  padding-left: 100px; 
  padding-right: 100px;

}

nav .botonera {
  max-width: 1250px;
  height: 30px;
  display: inline-flex; 
  justify-content: center; 
  align-items:flex-start;
  text-align: center;
  transition: transform 0,5s;
}

nav a{
  font-size: 20px;
  padding: 10px;
  color: #1F4AC9; 
  font-family:'Alexandria';
  display:inline-flex;
  justify-content: center; 
  text-align: center;
  border-radius: 100px;
  transition-duration: 0.3s;
  transition-property: transform;
  text-decoration: none;
}

nav a:hover {
  background-color: #D05F15;
  background-color: #D05F15;
  color: #FCD1CD;
  transform: scale(1.1);
}

/* MAIN */

.introduccion {
  max-width: 1920px;
  display: flex; 
  align-items: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  gap: 150px;
  margin-top: 20px;
}

@keyframes slide-right{
  0%{transform:translateX(-100px)}
  100%{transform:translateX(15px)}
}

.intro-izq{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 130px;
  max-width: 700px;
}

.intro-dere{
  display: flex;
  justify-content: right;
  padding-top: 25px;
}

.foto {
  width: 500px;
  border-radius: 300px;
  border: #1F4AC9 10px solid;
}

.informacion-arriba{
  display: flex;
  flex-direction: row;   
  align-items: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  gap: 50px;
  max-width: 1920px;
}

.info{
  margin-top: 60px;
}

.educacion{
  margin-top: 60px;
}

.habilidades{
  margin-top: 60px;
  padding-top: 10px;
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 10px;
  background-color: #1F4AC9;
  border-radius: 50px;
}

.informacion-abajo{
  display: flex;
  flex-direction: row;   
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  max-width: 1920px;
  gap: 50px;
  margin-top: 25px;
}

.contacto {
  flex-shrink: 0; 
  padding-top: 10px;
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 10px;
  margin-left: 42px;
  background-color: #1F4AC9;
  border-radius: 50px;
}

.sobre-mi{
  flex-grow: 2;
  flex-shrink: 0;
  width: 400px;
  margin-right: 80px;
  text-align:left;
}

li{
  padding-top: 15px;
  text-decoration: none;
}

ul{
  list-style: none;
}

/* FOOTER */

footer{
  background-color: #1F4AC9;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  max-width: 1920px;
}