/*@charset "utf-8";*/
/* CSS Document */

*{
  margin: 0px;
  padding: 0px;
}

/* FONTS */

h1 {
	color: #1F4AC9;
  font-family:'Alexandria';
	font-size: 100pt; 
  font-weight: bold;
  line-height: 0.8;
}

h2 {
  font-family: 'Alexandria';
  font-weight: 400;
  color: #D05F15;
  font-size: 15pt;
  border-bottom: 4px solid #D05F15;
}

h3 {
  font-family: 'Alexandria';
  font-weight: bold;
  color: #1F4AC9;
  font-size: 30pt;
  border-bottom: 4px solid #1F4AC9;
}

.habilidades h3{
  font-family: 'Alexandria';
  font-weight: bold;
  color: #D05F15;
  font-size: 30pt;
  border-bottom: 4px solid #D05F15;
}

.contacto h3{
  font-family: 'Alexandria';
  font-weight: bold;
  color: #D05F15;
  font-size: 30pt;
  border-bottom: 4px solid #D05F15;
}

span {
  font-family: 'Alexandria';
  color: #D05F15;
  font-weight: bold;
  font-size: 20pt;
}

p{
  font-family: 'Helvetica';
  color: black;
  font-weight: 400;
  font-size: 15pt;
}

.habilidades p{
  font-family: 'Helvetica';
  color: #FCD1CD;
  font-weight: 400;
  font-size: 15pt;
}


.contacto p{
  font-family: 'Helvetica';
  color: #FCD1CD;
  font-weight: 400;
  font-size: 15pt;
}

footer p{
  color: #FCD1CD;
  font-size: 10pt;
  font-style: italic;
  font-weight: 600;
}

/* BODY */

body{
  background: #FCD1CD;
}

/* HEADER */

.main-container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.header-section {
  padding-top: 21px; 
  padding-bottom: 20px;
}

.separacion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}

.logo-img {
width: 50px;
}


/* NAV */

nav {
  background-color: #FCD1CD;
  padding: 0;
  margin: 0;
}

nav .botonera {
  max-width: 1250px;
  height: 30px;
  display: flex;
  text-decoration: none;
  display: inline-flex; 
  justify-content: center; 
  align-items:flex-start;
  text-align: center;
  transition: transform 0,5s;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
  padding-left: 100px; 
  padding-right: 100px;
}

nav ul li a{
  font-size: 20px;
  padding: 10px;
  color: #1F4AC9; 
  font-family:'Alexandria';
  display:inline-flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  border-radius: 100px;
  transition-duration: 0.3s;
  transition-property: transform;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #D05F15;
  color: #FCD1CD;
  transform: scale(1.1);
}

/* MAIN */

.introduccion {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  padding-left: 40px;
  padding-right: 40px;
  gap: 20px;
}

.texto {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@keyframes slide-right{
  0%{transform:translateX(-100px)}
  100%{transform:translateX(15px)}
}

.titulo {
  margin-bottom: 10px;
  animation:slide-right 350ms linear both
}

.nombre {
  animation:slide-right 600ms linear both
}

.titulo hr {
  width: 180px;
  border: 1.5px solid #D05F15;
  margin: 5px 0;
}

.foto img {
  width: 450px;
  height: auto;
  display: block;
  padding-right: 40px;
}

.informacion{
  display: flex;
  flex-direction: row;   
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 80px;
}

.info{
  margin-top: 60px;
  margin-left: 42px;
}

.info hr {
  width: 275px;
  border: 3px solid #1F4AC9;
  margin: 5px 0;
}

.educacion{
  margin-top: 60px;
  padding-left: 42px;
}

.educacion hr {
  width: 235px;
  border: 3px solid #1F4AC9;
  margin: 5px 0;
}

.habilidades{
  margin-top: 60px;
  padding-top: 10px;
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 10px;
  background-color: #1F4AC9;
  border-radius: 50px;
}

.habilidades hr {
  width: 265px;
  border: 3px solid #D05F15;
  margin: 5px 0;
}

.contacto {
  flex-grow: 1;
  flex-shrink: 0; 
  padding-top: 10px;
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 10px;
  margin-left: 42px;
  background-color: #1F4AC9;
  border-radius: 50px;
}

.contacto hr{
  width: 210px;
  border: 3px solid #D05F15;
  margin: 5px 0;
}

.sobre-mi{
  flex-grow: 2;
  flex-shrink: 0;
  width: 400px;
  margin-right: 80px;
  text-align: justify;
}

.sobre-mi hr{
  width: 205px;
  border: 3px solid #1F4AC9;
  margin: 5px 0;
}

li{
  padding-top: 15px;
  text-decoration: none;
}

ul{
  list-style: none;
}

/* FOOTER */

footer{
  background-color: #1F4AC9;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}